{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">

    <title>Maranatha</title>
</head>

<body>
    <!-- Header -->
    <main-header data-home-url="{% url 'home' %}" data-about-url="{% url 'about' %}" data-photos-url="{% url 'fotos' %}"
        data-calendar-url="{% url 'calendario' %}" data-contacts-url="{% url 'contatos' %}"
        data-logo-url="{% static 'home/files/logo.png' %}" data-noticias-url = "{% url 'lista_noticias' %}">
    </main-header>
    <div class="container">
        <h1>Contatos</h1>
    </div>

        <!-- Footer -->
        <main-footer
        paroquia-logo-url="{% static 'home/files/logo-completa-branca-2.svg' %}"
        rcc-logo-url="{% static 'home/files/9.png' %}"
        ></main-footer>
        
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'home/js/headerManager.js' %}"></script>

</body>

</html>