$primary:#1c46bf; 
$secondary: #71bfff;
$success: #dceffe;
$info: #f0c61c;
$warning: #fe7e59;
$danger: #ff5757;
$light: #dceffe;
$dark: #4d2182;

#divider {
    border-top: 1px solid $dark;
}

// Then import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";
