$primary: #1c46bf;
$secondary: #71bfff;
$success: #be95fd;
$info: #ffeeae;
$warning:#ffac68;
$danger: #ff5757;
$light: #71bfff;
$dark: #71bfff;


// Then import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";
